#edit-photoframe{
	position: relative;

}
#edit-photoframe #edit-canvas{
	margin: 0 auto;
	width: 100% !important;
	height: 100% !important;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	background-color: #333
}
